.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  width: 100%;
}

.header-container h1 {
  color: #e2e2e2;
  font-size: 6rem;
  font-family: "Righteous", cursive;
  cursor: default;
  text-shadow: 2px 0px 20px rgba(0, 0, 0, 0.5);
}

.header-container p {
  font-size: 1.5rem;
  text-shadow: 2px 0px 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 769px) {
  .header-container {
    margin-top: 80px;
    background-image: none;
  }
  .header-container h1 {
    font-size: 3rem;
  }
  .header-container p {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }
}
